<aside class="sidebar">
  <!-- Author Profile -->
  <div class="author">
    <div class="author__avatar">
      <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}">
    </div>

    <div class="author__content">
      <h2 class="author__name">{{ site.author.name }}</h2>
      <p class="author__pronouns">{{ site.author.pronouns }}</p>
      <p class="author__bio">{{ site.author.bio }}</p>
      <p class="author__location">{{ site.author.location }}</p>
      <p class="author__school">{{ site.author.School }}</p>

      <!-- Social Links -->
      <ul class="author__urls">
        {% for profile in site.author %}
          {% if profile[1] != "" and profile[0] != "avatar" and profile[0] != "name" and profile[0] != "pronouns" and profile[0] != "bio" and profile[0] != "location" and profile[0] != "School" and profile[0] != "uri" and profile[0] != "email" %}
            <li>
              <a href="{{ profile[1] }}" target="_blank">{{ profile[0] | capitalize }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</aside>
